.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 20px;
}

.links {
  font-weight: bold;
}
.link {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.project {
  list-style-type: none;
}
